@import '../../StyleVariables.scss';
.project-item-container {
  margin: 1rem 0;
  border-radius: 10px;
  border: 1px solid;
  border-color: var(--border-color);
  display: flex;
  height: 10rem;
  cursor: pointer;
  width: calc(50% - 2rem);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: all ease-in 0.15s;
  .project-image-container {
    width: 20%;
    background-color: var(--highlight-color);
    color: var(--main-bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    .icon {
      font-size: 5rem;
    }
  }
  .project-desc-container {
    width: 80%;
    color: var(--font-color);
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    p {
      margin: 0;
    }
    .project-name {
      font-family: 'Sregular';
      font-size: 1.5rem;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
    .project-desc {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      font-size: 1.1rem;
    }
    .tech-stack {
      font-size: 1.1rem;
      .label {
        font-family: 'Sregular';
      }
    }
  }

  &:hover {
    transform: scale(1.05, 1.05);
  }

  &:nth-child(odd) {
    margin-left: 1rem;
  }

  &:nth-child(even) {
    margin-right: 1rem;
  }

  @media screen and (max-width: $breakpoint-tablet) {
    height: 9rem;
    .project-image-container {
      .icon {
        font-size: 4rem;
      }
    }
  }

  @media (max-width: $breakpoint-mobile) {
    height: 8rem;
    width: 100%;
    &:nth-child(odd),
    &:nth-child(even) {
      margin: 0.5rem;
    }
  }

  @media (max-width: $breakpoint-mobile-s) {
    height: 6rem;
    width: 100%;
    margin: 0.5rem;
    .project-image-container {
      .icon {
        font-size: 3rem;
      }
    }
    .project-desc-container {
      display: unset;
      padding: 10px;
      .project-name {
        font-size: 1.19rem;
      }
      .project-desc {
        display: none;
      }
      .tech-stack {
        font-size: 0.8rem;
        margin-top: 5px;
      }
    }
  }
}
