.container {
  background: var(--main-bg-color);
  color: var(--font-color);
  overflow: hidden;
  flex: 1;

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);

    min-height: 95vh;
    .construction-icon {
      font-size: 5rem;
    }
    .dev-image {
      height: 35vmin;
      pointer-events: none;
    }
    .description {
      text-align: center;
    }
  }
}
