@font-face {
  font-family: 'SLight';
  src: local('SLight'), url(./assets/fonts/segoeuil.ttf) format('truetype');
}

@font-face {
  font-family: 'SRegular';
  src: local('SRegular'), url(./assets/fonts/segoe-ui.ttf) format('truetype');
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
