@font-face {
  font-family: 'SLight';
  src: local('SLight'), url(./assets/fonts/segoeuil.ttf) format('truetype');
}

@font-face {
  font-family: 'SRegular';
  src: local('SRegular'), url(./assets/fonts/segoe-ui.ttf) format('truetype');
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
